In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
os.chdir("/Users/saichandrareddy/Downloads/archive (1)")

In [4]:
data = pd.read_csv("Online Retail.csv")

In [5]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [6]:
data.shape

(541909, 8)

In [7]:
len(data)

541909

In [8]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000
mean        9.552250       4.611114   15287.518434
std       218.081158      96.759853    1484.746041
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14367.000000
50%         3.000000       2.080000   15287.000000
75%        10.000000       4.130000   16255.000000
max     80995.000000   38970.000000   18287.000000

In [9]:
print(data.UnitPrice)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [10]:
print(data[5].title())

KeyError: 5

In [15]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [18]:
(data["UnitPrice"])

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [19]:
for col in data.columns:
    print(col)

InvoiceNo
StockCode
Description
Quantity
InvoiceDate
UnitPrice
CustomerID
Country

In [21]:
print(mean(data["UnitPrice"]))

NameError: name 'mean' is not defined

In [22]:
Unit = data["UnitPrice"]

In [23]:
Average = sum(Unit)/len(Unit)

In [25]:
print(Average)

4.611113626083471

In [27]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000
mean        9.552250       4.611114   15287.518434
std       218.081158      96.759853    1484.746041
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14367.000000
50%         3.000000       2.080000   15287.000000
75%        10.000000       4.130000   16255.000000
max     80995.000000   38970.000000   18287.000000

In [28]:
print(f" The average price of the item. {Average}")

 The average price of the item. 4.611113626083471

In [32]:
max(data["UnitPrice"])

38970.0

In [34]:
data.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     541909
Country        541909
dtype: int64

In [35]:
len(data)

541909

In [37]:
min(data["UnitPrice"])

-11062.06

In [43]:
df = max(data["UnitPrice"]) - min(data["UnitPrice"])

In [44]:
df

50032.06

In [45]:
data_1 = ["Sonata","Accord","Rav4"]

In [46]:
type(data_1)

list

In [47]:
data_1.append("Focus")

In [48]:
data_1

['Sonata', 'Accord', 'Rav4', 'Focus']

In [54]:
data_1.insert(2,"Subharu")

In [55]:
data_1

['Sonata', 'Accord', 'Subharu', 'Subharu', 'Rav4', 'Focus', 'Subharu']

In [56]:
data_1.del("Subharu")

SyntaxError: invalid syntax (3043106642.py, line 1)

In [57]:
del data_1[2]

In [58]:
data_1

['Sonata', 'Accord', 'Subharu', 'Rav4', 'Focus', 'Subharu']

In [59]:
del data_1[-1]

In [60]:
data_1

['Sonata', 'Accord', 'Subharu', 'Rav4', 'Focus']

In [61]:
del data_1[:2]

In [62]:
data_1

['Subharu', 'Rav4', 'Focus']

In [63]:
data_1

['Subharu', 'Rav4', 'Focus']

In [65]:
data_1.append["Sonata","Accord","Subharu","Rav4","BMW","Benz"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [70]:
data_2 = ["Sonata","Accord","Subharu","Rav4","BMW","Benz"]

In [71]:
type(data_2)

list

In [72]:
for data_3 in data_2:
    data_1.append(data_3)
print(data_1)

['Subharu', 'Rav4', 'Focus', 'Sonata', 'Accord', 'Subharu', 'Rav4', 'BMW', 'Benz']

In [75]:
dd = data_1.pop(2)

In [76]:
dd

'Sonata'

In [77]:
print(f"{dd} is not my choice of interest. Because ford is not reliable after certain miles.")

Sonata is not my choice of interest. Because ford is not reliable after certain miles.

In [78]:
data_1

['Subharu', 'Rav4', 'Accord', 'Subharu', 'Rav4', 'BMW', 'Benz']

In [79]:
d = ["Rice","Pappu","Milk","Curd"]

In [80]:
f = ["Rice","Dal","Milk","Curd"]

In [85]:
d = f[:]

In [86]:
print(d)

['Rice', 'Dal', 'Milk', 'Curd', 'Water']

In [83]:
f.append("Water")

In [84]:
print(d)

['Rice', 'Dal', 'Milk', 'Curd']

In [102]:
My_food = ["pizza","friedrice","egg","chicken"]

In [103]:
print(f"{My_food[1].title()} is my favorite dish.")

Friedrice is my favorite dish.

In [104]:
Friends_food = My_food[:]

In [105]:
print(My_food)
print(Friends_food)

['pizza', 'friedrice', 'egg', 'chicken']
['pizza', 'friedrice', 'egg', 'chicken']

In [106]:
My_food.append("curd")
Friends_food.append("cerals")

In [107]:
print(My_food)
print(Friends_food)

['pizza', 'friedrice', 'egg', 'chicken', 'curd']
['pizza', 'friedrice', 'egg', 'chicken', 'cerals']

In [108]:
My_food = Friends_food

In [109]:
My_food.append("curd")
Friends_food.append("cerals")

In [110]:
print(My_food)
print(Friends_food)

['pizza', 'friedrice', 'egg', 'chicken', 'cerals', 'curd', 'cerals']
['pizza', 'friedrice', 'egg', 'chicken', 'cerals', 'curd', 'cerals']

In [111]:
age_0 = 27
age_1 = 21

In [115]:
age_0 >= 22 and age_1 >= 11

True

In [116]:
print(My_food)

['pizza', 'friedrice', 'egg', 'chicken', 'cerals', 'curd', 'cerals']

In [121]:
for food in My_food:
    if food == "egg":
        print(food.lower())
    else:
        print(food.title())

Pizza
Friedrice
egg
Chicken
Cerals
Curd
Cerals

In [124]:
banner_user = ["andrew","carolina","david"]
user = "carolina"

In [131]:
if user not in banner_user:
    print(f"{user.title()}, is not in the list.")

In [132]:
print(user)

carolina

In [140]:
banner_user = ["andrew","carolina","david"]
users = input()

if user not in banner_user:
    print(f"{user.title()}, is not in the list.")

TypeError: 'str' object is not callable

In [145]:
age = 26
if age >= 26:
    print(f"{age}, is good time for marriage")
else:
    print(f"{age}, is not a good time for marriage")

26, is good time for marriage

In [148]:
age_1 = 26
if age_1 >= 25:
    print(f"{age_1} is eligible for vote")

26 is eligible for vote

In [156]:
val = int(input("Enter the value:"))

TypeError: 'str' object is not callable

In [158]:
deg_fahrenheit = int(input("What is the temperature in degrees Fahrenheit?"))

TypeError: 'str' object is not callable

In [7]:
alien_0 = {"color":"green", "point": 5}

In [8]:
type(alien_0)

dict

In [9]:
print(alien_0["color"])

green

In [166]:
for alien_color,alien_point in alien_0.items():
    alien_0.append(alien_color)
    alien_0.append(alien_point)
    print(f"Specifications of alien color: {alien_1}")
    print(f"Specifications of alien color: {alien_2}")

AttributeError: 'dict' object has no attribute 'append'

In [10]:
alien_0["color"] = "yellow"

In [11]:
alien_0

{'color': 'yellow', 'point': 5}

In [170]:
del alien_0["color"]

In [171]:
alien_0

{'point': 5}

In [12]:
alien_0["color"] = ["red","black","green"]

In [13]:
alien_0

{'color': ['red', 'black', 'green'], 'point': 5}

In [6]:
print(alien_0)

{'color': 'pink', 'point': 5}

In [14]:
cars = {}

cars["color"] = "green"
cars["dimension"] = 32*23
cars["Engine_type"] = 4
cars["age"] = 2

print(type(cars), cars)

<class 'dict'> {'color': 'green', 'dimension': 736, 'Engine_type': 4, 'age': 2}

In [9]:
alien_0 = {"x_position": 0,"y_position": 25,"speed" : "fast"}

In [7]:
print(type(alien_0),alien_0)

<class 'dict'> {'x_position': 0, 'y_position': 25, 'speed': 'medium'}

In [10]:
if alien_0["speed"] == "slow":
    x_increment = 1
elif alien_0["speed"] == "medium":
    x_increment = 2
else:
    x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment

print(f"New Position: {alien_0['x_position']}")

New Position: 3

In [23]:
favorite_lan = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
}

In [13]:
favorite_lan

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}

In [14]:
language = favorite_lan['sarah'].title()

In [16]:
print(f"Sarah favorite language: {language}")

Sarah favorite language: C

In [25]:
for Key, Value in favorite_lan.items():
    print(f"\nKey:{Key}")
    print(f"\nValues:{Value}")

Key:jen

Values:python

Key:sarah

Values:c

Key:edward

Values:ruby

Key:phil

Values:python

In [19]:
print(type(fav))

<class 'tuple'>

In [26]:
for name, language in favorite_lan.items():
    print(f"{name.title()}'s favorite language is {language.title()}")

Jen's favorite language is Python
Sarah's favorite language is C
Edward's favorite language is Ruby
Phil's favorite language is Python

In [38]:
for name in favorite_lan.keys():
    print(name)

jen
sarah
edward
phil

In [46]:
favorite_lan = {
    'jen': 'python',
    'sai': 'c',
    'edward': 'ruby',
    'pranaya': 'python',
}

In [48]:
friends = ["sai","pranaya"]
for name in favorite_lan.keys():
    print(f"Hi {name.title()}.")
    
    if name in friends:
        language = favorite_lan[name].title()
        print(f"\t{name.title()}, I see you love {language}!")

Hi Jen.
Hi Sai.
	Sai, I see you love C!
Hi Edward.
Hi Pranaya.
	Pranaya, I see you love Python!

In [45]:
print(friends)

['sai', 'pranaya']

In [49]:
eficens = {"data":["adepu","sai","spandy","pranaya","binnuram"],
          "devOps":["jay","gopi","bhanu"],
          "java": ["shyam","anil","shika","anirudh"]}

In [51]:
print(type(eficens),eficens)

<class 'dict'> {'data': ['adepu', 'sai', 'spandy', 'pranaya', 'binnuram'], 'devOps': ['jay', 'gopi', 'bhanu'], 'java': ['shyam', 'anil', 'shika', 'anirudh']}

In [52]:
for tech,student in eficens.items():
    print(f"{student.title()} is marketing in {tech.title()}")

AttributeError: 'list' object has no attribute 'title'

In [11]:
n = int(input())
for i in n:
    if i%2 == 0:
        print("NotWerid")
    else:
        print("Wired")

23
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid
Wired
NotWerid

In [ ]:
TypeError: 'int' object is not iterable

In [15]:
eficens = {"data":["adepu","sai","spandy","pranaya","binnuram"],
          "devOps":["jay","gopi","bhanu"],
          "java": ["shyam","anil","shika","anirudh"]}
passport = {"data":["g-2341","g-6754","g-7765","g-2209","g-1769"],
          "devOps":["g-1111","g-2222","g-3333"],
          "java": ["g-4444","g-5555","g-6666","g-7777"]}
phone = {"data":[9326,9765,9087,9231],
          "devOps":[4691,4621,4378],
          "java": [3678,3697,3651,3600]}

In [18]:
tech = [eficens,passport,phone]

In [20]:
for i in tech:
    print(type(i),i)

<class 'dict'> {'data': ['adepu', 'sai', 'spandy', 'pranaya', 'binnuram'], 'devOps': ['jay', 'gopi', 'bhanu'], 'java': ['shyam', 'anil', 'shika', 'anirudh']}
<class 'dict'> {'data': ['g-2341', 'g-6754', 'g-7765', 'g-2209', 'g-1769'], 'devOps': ['g-1111', 'g-2222', 'g-3333'], 'java': ['g-4444', 'g-5555', 'g-6666', 'g-7777']}
<class 'dict'> {'data': [9326, 9765, 9087, 9231], 'devOps': [4691, 4621, 4378], 'java': [3678, 3697, 3651, 3600]}

In [24]:
technology = []
for tech_no in range(25):
    new_tech = {'color':'green','points':5, 'speed': 'slow'}
    technology.append(new_tech)
for tech in technology[:]:
    print(tech)
print("....")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
....

In [30]:
aliens = []
for alien_num in range(30):
    new_alien = {"color":"green","points":5, "speed":"slow"}
    aliens.append(new_alien)
for alien in aliens[:3]:
    print(alien)
print("...")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

In [35]:
print(alien)

{'color': 'green', 'points': 5, 'speed': 'slow'}

In [41]:
print(aliens)

[{'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}, {'color': 'green', 'points': 5, 'speed': 'slow'}]

In [52]:
for i in aliens[0:3]:
    if i["color"] == "green":
        i["color"] = "yellow"
        i["points"] = 10
        i["speed"] = "medium"
    elif i["color"] == "yellow":
        i["color"] = "red"
        i["points"] = 15
        i["speed"] = "fast"
for x in aliens[:2]:
    print(x)

{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'red', 'points': 15, 'speed': 'fast'}

In [1]:
massage = input("Tell me something, and I will repeat it back to you:")
print(massage)

Tell me something, and I will repeat it back to you:Hello Python!
Hello Python!

In [7]:
name = input("Please enter the name: ")
print(f"My name is {name.title()}!")

Please enter the name: sai
My name is Sai!

In [2]:
promt = "If you tell us who are you are, we can personalize the message you see."
promt += "\nWhat is your name? "

name = input(promt)
print(f"\nHello, {name}!")

If you tell us who are you are, we can personalize the message you see.
What is your name? Sai

Hello, Sai!

In [3]:
age = input("How old are you?")

How old are you?21

In [4]:
print(age)

21

In [5]:
type(age)

str

In [6]:
age >= 21

TypeError: '>=' not supported between instances of 'str' and 'int'

In [7]:
age_1 = int(input("How old r u ? "))

How old r u ? 21

In [8]:
print(age_1)

21

In [9]:
type(age_1)

int

In [13]:
age_1 >= 20

True

In [12]:
age_1 > 20

True

In [15]:
height = input("How tall are you, in inches? ")
height = int(height)

if height >= 48:
    print(f"\nYou're tall enough to ride!")
else:
    print("\nYou'll be able to ride when you're a little older.")

How tall are you, in inches? 60

You're tall enough to ride!

In [16]:
4 % 2

0

In [17]:
3 % 1

0

In [18]:
1 % 3

1

In [19]:
4 % 3

1

In [20]:
6 % 2

0

In [21]:
6 % 3

0

In [23]:
number = input("Enter a number, I will let you fi it's even or odd: ")
number = int(number)

if number % 2 == 0:
    print(f"\nThe number {number} is even.")
else:
    print(f"\nThe number {number} is odd.")

Enter a number, I will let you fi it's even or odd: 2

The number 2 is even.

In [2]:
current_number = 1
while current_number <= 3:
    print(current_number)
    current_number += 1

1
2
3

In [3]:
promt = "\nTell me something, and I will repeat it back for you:"
promt = "\nEnter 'quit' to end the program. "

In [5]:
message = ""
while message != 'quit':
    message = input(promt)
    print(message)

Enter 'quit' to end the program. Sai
Sai

Enter 'quit' to end the program. My name is Sai
My name is Sai

Enter 'quit' to end the program. How r u today
How r u today

Enter 'quit' to end the program. quit
quit

In [6]:
print(message)

quit

In [7]:
promt = "\nTell me something, I will repeat it back to you:"
promt += "\n Enter 'quit' to end the program. "

message = ""
while message != 'quit':
    message = input(promt)
    
    if message != 'quit':
        print(message)

Tell me something, I will repeat it back to you:
 Enter 'quit' to end the program. Sai
Sai

Tell me something, I will repeat it back to you:
 Enter 'quit' to end the program. My name is Sai
My name is Sai

Tell me something, I will repeat it back to you:
 Enter 'quit' to end the program. quit

In [1]:
promt = "\nTell me something I will repeat it back to you."
promt += "\nEnter 'quit' to end the program. "

active = True
while active:
    message = input(promt)
    
    if message == 'quit':
        active = False
    else:
        print(message)

Tell me something I will repeat it back to you.
Enter 'quit' to end the program. Sai
Sai

Tell me something I will repeat it back to you.
Enter 'quit' to end the program. My Full name Sai Chander Reddy
My Full name Sai Chander Reddy

Tell me something I will repeat it back to you.
Enter 'quit' to end the program. quit

In [3]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [2]:
promt = "\n Enter a number from 1 to 10:"
promt += "\n Enter 'quit' to end the program. "

active = True
while active:
    x = int(input(promt))
    
    if x >= 10:
        active = False
    elif x % 2 == 0:
        print(f"The Number {x} is even")
        x += 1
    else:
        print(f"The Number {x} is odd")

 Enter a number from 1 to 10:
 Enter 'quit' to end the program. 10

In [4]:
promt = "\nPlease enter a place that you visited."
promt = "\n(Enter 'quit' when you are finished.)"

while True:
    city = input(promt)
    if city == 'quit':
        break
    else:
        print(f"I'd love to visit the place soon {city.title()}!")

(Enter 'quit' when you are finished.)sa
I'd love to visit the place soon Sa!

(Enter 'quit' when you are finished.)Newyork
I'd love to visit the place soon Newyork!

(Enter 'quit' when you are finished.)newyork
I'd love to visit the place soon Newyork!

(Enter 'quit' when you are finished.)quit

In [27]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 == 0:
        continue
print(current_number)

10

In [10]:
1 % 2

1

In [19]:
# Using While loops using list and dictonary.

In [29]:
unconfirmed_users = ["Sai","Pranaya","Vishwas"]
confirmed_users = []
while unconfirmed_users:
    current_users = unconfirmed_users.pop()
    
    print(f"Verifying user: {current_users.title()}")
    confirmed_users.append(current_users)
print("\nThe following users have been confirmed:")
for confirmed_user in confirmed_users:
    print(confirmed_user.title())

Verifying user: Vishwas
Verifying user: Pranaya
Verifying user: Sai

The following users have been confirmed:
Vishwas
Pranaya
Sai

In [34]:
pets = ["dogs","cats","goldfish","cats","cats","rabbit","dog","cat"]
print(pets)

while 'cats' in pets:
    pets.remove('cats')
print(pets)

['dogs', 'cats', 'goldfish', 'cats', 'cats', 'rabbit', 'dog', 'cat']
['dogs', 'goldfish', 'rabbit', 'dog', 'cat']

In [35]:
responses = {}
# set a flag to indicate that polling is active.
polling_active = True

while polling_active:
    name = input("\nWhat is your name? ")
    response = input("Which mountain would you like to climb someday? ")
    
    responses[name] = response
    
    repeat = input("Would you like to let another person respond? (Yes/No) ")
    if repeat == "no":
        polling_active = False
print("\n---poll Results---")
for name, response in responses.items():
    print(f"{name} would like to climb {response}.")

What is your name? Sai
Which mountain would you like to climb someday? Rockey Mountain
Would you like to let another person respond? (Yes/No) Yes

What is your name?
Which mountain would you like to climb someday?
Would you like to let another person respond? (Yes/No) yes

What is your name? Pranaya
Which mountain would you like to climb someday? Yellow Stone national park
Would you like to let another person respond? (Yes/No) no

---poll Results---
Sai would like to climb Rockey Mountain.
 would like to climb .
Pranaya would like to climb Yellow Stone national park.

In [42]:
def number_is_even_or_odd(limit):
    for num in range(1,limit):
        if num % 2 == 0:
            print(f"{num} is a even")
        else:
            print(f"{num} is a odd")

In [43]:
number_is_even_or_odd(11)

1 is a odd
2 is a even
3 is a odd
4 is a even
5 is a odd
6 is a even
7 is a odd
8 is a even
9 is a odd
10 is a even

In [44]:
def great_users():
    print("Hello Python")

In [48]:
great_users()

Hello Python

In [49]:
def greet_user(name):
    print(f"Hello, {name.title()}!")

In [50]:
greet_user('Sai')

Hello, Sai!

In [51]:
greet_user("Pranaya")

Hello, Pranaya!

In [52]:
number_is_even_or_odd(25)

1 is a odd
2 is a even
3 is a odd
4 is a even
5 is a odd
6 is a even
7 is a odd
8 is a even
9 is a odd
10 is a even
11 is a odd
12 is a even
13 is a odd
14 is a even
15 is a odd
16 is a even
17 is a odd
18 is a even
19 is a odd
20 is a even
21 is a odd
22 is a even
23 is a odd
24 is a even

In [55]:
def temperature_check(celsius):
    fahrenheit = (celsius * 9/5)+32
    return fahrenheit

In [56]:
temperature_check(10)`

50.0

In [63]:
temperature_check(25)*12

924.0

In [65]:
temperature_check(25)

77.0

In [57]:
#Positional Arguments

In [59]:
def describing_pets(animal_type, pets_name):
    """Displays information about a pet"""
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pets_name.title()}.")

In [61]:
describing_pets('german_shepard', 'puppy')

I have a german_shepard.
My german_shepard's name is Puppy.

In [62]:
describing_pets('Rotwheeler','Ranstand')

I have a Rotwheeler.
My Rotwheeler's name is Ranstand.

In [66]:
77 * 12

924

In [67]:
#Classes

In [68]:
class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def sit(self):
        print(f"{self.name} is now sitting.")
    def roll_over(self):
        print(f"{self.name} rolled over!")

In [69]:
my_dog = Dog('Puppy', 4)

In [70]:
print(f"My dog's name is {my_dog.name}.")
print(f"My dog is {my_dog.age} years old.")

My dog's name is Puppy.
My dog is 4 years old.

In [71]:
class Dog:
    """A Simple attempt. to model a dog"""
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def sit(self):
        """Simulates a dog sitting in repsonse to a command"""
        print(f"{self.name} is now sitting.")
    
    def roll_over(self):
        """Simulates roll over in repsonse to a command"""
        print(f"{self.name} rolled over.")

In [72]:
my_dog_1 = Dog("Rover",8)

In [73]:
print(my_dog_1.name)

Rover

In [74]:
print(my_dog_1.age)

8

In [ ]:
print()

In [75]:
my_dog_1.name

'Rover'

In [76]:
my_dog_1.sit()
my_dog_1.roll_over()

Rover is now sitting.
Rover rolled over.

In [ ]:
# Creating multiple instances.

In [77]:
your_dog = Dog("Wily",5)
uncle_dog = Dog("Dexter",7)

In [78]:
your_dog.name

'Wily'

In [79]:
uncle_dog.name

'Dexter'

In [80]:
class Restaurant:
    """A Simple attempt to model a Restaurant"""
    def __init__ (self,restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        
        self.cuisine_type = cuisine_type
        
    def describe_restaurant(self):
        print(f"{self.restaurant_name} is Indian Restaurant. Which provides all kind of indian food.")
        
    def open_restaurant(self):
        print(f"{self.restaurant_name} is opened till Mid_night everyday.")

In [81]:
name = Restaurant("Swadeshi","Indian")

In [82]:
print(name.restaurant_name)

Swadeshi

In [83]:
print(name.cuisine_type)

Indian

In [85]:
name.describe_restaurant()

Swadeshi is Indian Restaurant. Which provides all kind of indian food.

In [86]:
name.open_restaurant()

Swadeshi is opened till Mid_night everyday.

In [87]:
name_1 = Restaurant("Hello_India", "Indian")
name_2 = Restaurant("Hyderabad_House","Indian")

In [88]:
print(f"{name.restaurant_name} is my favorite one")
name.describe_restaurant()
name.open_restaurant()

Swadeshi is my favorite one
Swadeshi is Indian Restaurant. Which provides all kind of indian food.
Swadeshi is opened till Mid_night everyday.

In [90]:
print(f"{name_1.restaurant_name} is second most favorite.")
name_1.describe_restaurant()
name_1.open_restaurant()

Hello_India is second most favorite.
Hello_India is Indian Restaurant. Which provides all kind of indian food.
Hello_India is opened till Mid_night everyday.

In [91]:
print(f"{name_2.restaurant_name} this is my last favorite.")
name_2.describe_restaurant()
name_2.open_restaurant()

Hyderabad_House this is my last favorite.
Hyderabad_House is Indian Restaurant. Which provides all kind of indian food.
Hyderabad_House is opened till Mid_night everyday.

In [121]:
class User:
    def __init__ (self, first_name, last_name, age, height, weight, color):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.height = height
        self.weight = weight
        self.color = color
        
    def describe_user(self):
        print(f"{self.first_name} {self.last_name} is my full name.")
        print(f"I am {self.age} is old.")
        print(f"My height in inches {self.height}")
        print(f"My weight in kgs {self.weight}")
        print(f"My skin color is {self.color}")
        
    def greet_user(self):
        print(f"{self.first_name} {self.last_name} I hope you're doing well today !")

In [122]:
user_1 = User("Sai Chander Reddy","Chada", 27, "6 feet", 75, "brown")

In [123]:
user_1.first_name

'Sai Chander Reddy'

In [124]:
user_1.describe_user()

Sai Chander Reddy Chada is my full name.
I am 27 is old.
My height in inches 6 feet
My weight in kgs 75
My skin color is brown

In [125]:
user_1.greet_user()

Sai Chander Reddy Chada I hope you're doing well today !

In [126]:
#Modify the attribute

In [137]:
class Car:
    """A simple attempt to represent a car."""
    def __init__ (self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return neatly formatted descriptive name"""
        long_name = f"{self.year} {self.make} {self.model}"
        return long_name.title()
    
    def read_odometer(self):
        """Returns over all mileage of the car"""
        print(f"This car has {self.odometer_reading} miles on it.")

In [135]:
my_car = Car("Hyundai","Sonata",2015)
print(my_car.get_descriptive_name())

2015 Hyundai Sonata

In [136]:
#Setting a default value for an attribute

In [138]:
class Car:
    """A simple attempt to represent a car."""
    def __init__ (self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return neatly formatted descriptive name"""
        long_name = f"{self.year} {self.make} {self.model}"
        return long_name.title()
    
    def read_odometer(self):
        """Returns over all mileage of the car"""
        print(f"This car has {self.odometer_reading} miles on it.")

In [3]:
my_car = Car("Hyundai","Sonata",2015)
print(my_car.get_descriptive_name())
my_car.read_odometer()

2015 Hyundai Sonata
This car has 0 miles on it.

In [142]:
#Modifiying attribute values directly.

In [143]:
my_car.odometer_reading = 23
my_car.read_odometer()

This car has 23 miles on it.

In [144]:
#Modifying an attributes value through the method.

In [18]:
class Car:
    """A simple attempt to represent a car."""
    def __init__ (self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return neatly formatted descriptive name"""
        long_name = f"{self.year} {self.make} {self.model}"
        return long_name.title()
    
    def read_odometer(self):
        """Returns over all mileage of the car"""
        print(f"This car has {self.odometer_reading} miles on it.")
        
    def update_odometer(self, mileage):
        """It will update the odometer and give a value"""
        if mileage >= odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer")
    
    def increment_odometer(self, miles):
        """Add the given amount to the odometer reading"""
        self.odometer_reading += miles

In [10]:
my_car.update_odometer(156676)

In [11]:
my_car.read_odometer()

This car has 156676 miles on it.

In [13]:
my_car.update_odometer(156676)
my_car.read_odometer()

This car has 156676 miles on it.

In [14]:
my_car.odometer_reading

156676

In [15]:
my_car.update_odometer(12)

In [16]:
my_car.read_odometer()

This car has 12 miles on it.

In [17]:
#Incrementing an attribut'es value through a method.

In [5]:
class Car:
    """A simple attempt to represent a car."""
    def __init__ (self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return neatly formatted descriptive name"""
        long_name = f"{self.year} {self.make} {self.model}"
        return long_name.title()
    
    def read_odometer(self):
        """Returns over all mileage of the car"""
        print(f"This car has {self.odometer_reading} miles on it.")
        
    def update_odometer(self, mileage):
        """It will update the odometer and give a value"""
        if mileage >= self.odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer")
    
    def increment_odometer(self, miles):
        """Add the given amount to the odometer reading"""
        self.odometer_reading += miles

In [6]:
my_used_car = Car("Ford","escape", 2016)

In [7]:
my_used_car.get_descriptive_name()

'2016 Ford Escape'

In [8]:
my_used_car.update_odometer(23500)
my_used_car.read_odometer()

This car has 23500 miles on it.

In [9]:
my_used_car.increment_odometer(100)
my_used_car.read_odometer()

This car has 23600 miles on it.

In [11]:
my_used_car.update_odometer(23500)
my_used_car.read_odometer()

You can't roll back an odometer
This car has 23600 miles on it.

In [12]:
#Exercise

In [1]:
class Restaurant:
    """A Simple attempt to model a Restaurant"""
    def __init__ (self,restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
        self.number_served = 0
        
    def describe_restaurant(self):
        print(f"{self.restaurant_name} is famous restaurant in dallas. Which provides all kind of indian food.")
        
    def open_restaurant(self):
        print(f"{self.restaurant_name} is opened till Mid_night everyday.")
        
    def read_served_num(self):
        print(f"The current number going is {self.number_served}.")
        
    def update_served_num(self, people):
        if people >= self.number_served:
            self.number_served = people
        else:
            print("Can't roll back the current served number")

    def increment_served_num(self, people_count):
        self.number_served += people_count

In [2]:
restaurant = Restaurant("Hyderabad_house","Indian")

In [3]:
restaurant.describe_restaurant()

Hyderabad_house is famous restaurant in dallas. Which provides all kind of indian food.

In [4]:
restaurant.open_restaurant()

Hyderabad_house is opened till Mid_night everyday.

In [5]:
print(f"Number of customers the restaurant served {restaurant.number_served}.")

Number of customers the restaurant served 0.

In [6]:
restaurant.update_served_num(23)

In [7]:
restaurant.number_served

23

In [8]:
restaurant.update_served_num(22)

Can't roll back the current served number

In [9]:
restaurant.read_served_num()

The current number going is 23.

In [10]:
restaurant.increment_served_num(24)

In [12]:
restaurant.read_served_num()

The current number going is 47.

In [13]:
restaurant.update_served_num(46)

Can't roll back the current served number

In [1]:
class User:
    def __init__ (self, first_name, last_name, age, height, weight, color):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.height = height
        self.weight = weight
        self.color = color
        self.login_attempts = 0
        
    def describe_user(self):
        print(f"{self.first_name} {self.last_name} is my full name.")
        print(f"I am {self.age} years old.")
        print(f"My height in inches {self.height}")
        print(f"My weight in kgs {self.weight}")
        print(f"My skin color is {self.color}")
        
    def greet_user(self):
        print(f"{self.first_name} {self.last_name} I hope you're doing well today !")
        
    def read_login_attempts(self):
        print(f"The present login attempt is {self.login_attempts}.")
        
    def update_login_attempts(self, login):
        if login >= self.login_attempts:
            self.login_attempts = login
        else:
            print(f"The user can't roll back the login attempt")
    
    def increment_login_attempts(self, log):
        self.login_attempts += 1

In [2]:
new_user = User("Sai","Reddy", 27, "5feet 8 inches", 77, "brown")

In [3]:
new_user.describe_user()

Sai Reddy is my full name.
I am 27 years old.
My height in inches 5feet 8 inches
My weight in kgs 77
My skin color is brown

In [4]:
new_user.greet_user()

Sai Reddy I hope you're doing well today !

In [5]:
new_user.read_login_attempts()

The present login attempt is 0.

In [6]:
new_user.update_login_attempts(4)

In [7]:
new_user.read_login_attempts()

The present login attempt is 4.

In [8]:
new_user.update_login_attempts(2)

The user can't roll back the login attempt

In [9]:
new_user.increment_login_attempts()

TypeError: increment_login_attempts() missing 1 required positional argument: 'log'

In [1]:
class Jay:
    """About Jay basic information"""
    def __init__(self, first_name, last_name, age, height, weight, color):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self. height = height
        self.weight = weight
        self.color = color
        
    def full_name(self):
        long_name = f"{self.first_name} {self.last_name}"
        return long_name.title()
    def greet(self):
        print(f"{self.first_name} is very handsome!")

In [2]:
about = Jay("jay", "reddy", 23, 6, 65, "brown")

In [3]:
print(about.full_name())

Jay Reddy

In [7]:
print(about.greet())

jay is very handsome!
None

In [11]:
print("hello python world!")

hello python world!

In [18]:
variable = "Hello Python world!"

In [13]:
print(variable)

Hello Python world!

In [14]:
variable.title()

'Hello Python World!'

In [15]:
type(variable)

str

In [16]:
variable = "Hellp python crash course!"

In [19]:
print(variable)

Hello Python world!

In [20]:
name = "sai Chander"

In [21]:
print(name.title())

Sai Chander

In [22]:
print(name.upper())

SAI CHANDER

In [23]:
print(name.lower())

sai chander

In [29]:
first_name = "sai"
last_name = "Chada"
full_name = f"{first_name} {last_name}."
print(full_name.title())

Sai Chada.

In [30]:
name = "sai chander reddy"

In [31]:
for i in name:
    s = name[::-1]

ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias
ydder rednahc ias

In [32]:
print("python")

python

In [33]:
print("\tpython")

	python

In [35]:
print("\npython")

python

In [42]:
print("Languages:\n\tPython\n\tJava\n\tC++")

Languages:
	Python
	Java
	C++

In [43]:
name = "sai chander reddy     "

In [44]:
name.rstrip()

'sai chander reddy'

In [45]:
name = "     sai chander reddy"

In [46]:
name.lstrip()

'sai chander reddy'

In [47]:
name = "    sai chander reddy.   "

In [48]:
name.rstrip()

'    sai chander reddy.'

In [49]:
name.lstrip()

'sai chander reddy.   '

In [50]:
name.strip()

'sai chander reddy.'

In [51]:
print(name)

    sai chander reddy.

In [52]:
name = name.strip()

In [53]:
print(name)

sai chander reddy.

In [54]:
2+3

5

In [55]:
6-5

1

In [56]:
2*25

50

In [57]:
3/2

1.5

In [58]:
3%2

1

In [59]:
3**2

9

In [60]:
2+3*4

14

In [61]:
(2+3)*4

20

In [62]:
universe_age = 14_00000_0000000_900000

In [63]:
print(universe_age)

14000000000000900000

In [64]:
x, y, z = 1,2,3

In [65]:
print(x)

1

In [66]:
print(x,y,z)

1 2 3

In [67]:
print(x+y+z)

6

In [68]:
print(x*y*z)

6

In [69]:
print(x/y/z)

0.16666666666666666

In [70]:
MAX_CONNECTIONS = 5000

In [71]:
print(MAX_CONNECTIONS)

5000

In [72]:
bicycles = ["trek", "redline", "specialized"]

In [73]:
print(bicycles)

['trek', 'redline', 'specialized']

In [74]:
type(bicycles)

list

In [75]:
#Accessing elements in the list

In [76]:
print(bicycles[0])

trek

In [77]:
print(bicycles[:])

['trek', 'redline', 'specialized']

In [91]:
print(bicycles[:])

['trek', 'redline', 'specialized']

In [97]:
print(bicycles[2].title())

Specialized

In [103]:
print(bicycles[-1])

specialized

In [104]:
print(f"My first bicycle was a {bicycles[1].title()}")

My first bicycle was a Redline

In [105]:
#Examples

In [106]:
Names = ["Jay","Avinash","Anil","Pranaya","Vishwas","Uday","Deepak","Ravi","Santa","Sravan"]

In [111]:
for i in Names:
    print(f"The list contains names of Sai Friends {i.lower()}")

The list contains names of Sai Friends jay
The list contains names of Sai Friends avinash
The list contains names of Sai Friends anil
The list contains names of Sai Friends pranaya
The list contains names of Sai Friends vishwas
The list contains names of Sai Friends uday
The list contains names of Sai Friends deepak
The list contains names of Sai Friends ravi
The list contains names of Sai Friends santa
The list contains names of Sai Friends sravan

In [112]:
Names[:]

['Jay',
 'Avinash',
 'Anil',
 'Pranaya',
 'Vishwas',
 'Uday',
 'Deepak',
 'Ravi',
 'Santa',
 'Sravan']

In [125]:
Names[::-1]

['Sravan',
 'Santa',
 'Ravi',
 'Deepak',
 'Uday',
 'Vishwas',
 'Pranaya',
 'Anil',
 'Avinash',
 'Jay']

In [138]:
Names[3::5]

['Pranaya', 'Santa']

In [139]:
#Modifying elements in the list

In [140]:
motorcycles = ["honda","yamaha","suzuki"]

In [141]:
motorcycles[0] = "ducati"

In [142]:
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [143]:
motorcycles.append("honda")

In [144]:
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'honda']

In [150]:
bike_names = []
bike_names.append("honda")
bike_names.append("suzuki")
bike_names.append("ducati")
print(bike_names)

['honda', 'suzuki', 'ducati']

In [151]:
#Inserting elements into the list

In [152]:
bike_names.insert(0, "yamaha")

In [153]:
print(bike_names)

['yamaha', 'honda', 'suzuki', 'ducati']

In [154]:
bike_names.insert(5, "yamaha")

In [155]:
print(bike_names)

['yamaha', 'honda', 'suzuki', 'ducati', 'yamaha']

In [159]:
print(bike_names[1].upper())

HONDA

In [160]:
#Removing an item using the del statement

In [161]:
print(bike_names)

['yamaha', 'honda', 'suzuki', 'ducati', 'yamaha']

In [164]:
del bike_names[4]

In [165]:
print(bike_names)

['yamaha', 'honda', 'suzuki', 'ducati']

In [167]:
del bike_names[2]

In [168]:
print(bike_names)

['yamaha', 'honda', 'ducati']

In [169]:
bike_names.append("yamaha")

In [170]:
bike_names.append("suzuki")

In [171]:
print(bike_names)

['yamaha', 'honda', 'ducati', 'yamaha', 'suzuki']

In [172]:
bike_names.insert(3, "bmw")

In [173]:
print(bike_names)

['yamaha', 'honda', 'ducati', 'bmw', 'yamaha', 'suzuki']

In [174]:
#Removing items using the pop() method

In [175]:
motor = ['yamaha', 'honda', 'suzuki', 'ducati', 'yamaha']

In [176]:
print(motor)

['yamaha', 'honda', 'suzuki', 'ducati', 'yamaha']

In [177]:
popped_motor = motor.pop()

In [178]:
print(popped_motor)

yamaha

In [180]:
print(motor)

['yamaha', 'honda', 'suzuki', 'ducati']

In [181]:
popped_1 = motor.pop()

In [182]:
print(popped_1)

ducati

In [183]:
#Removing an item by value

In [184]:
print(motor)

['yamaha', 'honda', 'suzuki']

In [185]:
motor.append("ducati")

In [186]:
print(motor)

['yamaha', 'honda', 'suzuki', 'ducati']

In [187]:
motor.remove("honda")

In [188]:
print(motor)

['yamaha', 'suzuki', 'ducati']

In [189]:
#Exercise

In [191]:
guest = ["pranaya","mom","dad","brother"]

In [196]:
for i in guest:
    print(f"Today is my birthday. {i.title()} please come to dinner tonight")

Today is my birthday. Pranaya please come to dinner tonight
Today is my birthday. Mom please come to dinner tonight
Today is my birthday. Dad please come to dinner tonight
Today is my birthday. Brother please come to dinner tonight

In [199]:
s = guest.pop(3)

IndexError: pop index out of range

In [ ]:
print(f"I have a work can't come to dinner tonight.")

In [200]:
print(guest)

['pranaya', 'mom', 'dad']

In [201]:
guest.insert(2, "Anudeep")

In [202]:
print(guest)

['pranaya', 'mom', 'Anudeep', 'dad']

In [203]:
s = guest.pop(2)

In [206]:
print(f"Busy at work can't attend the dinner. Thanks for inviting {s.title()}")

Busy at work can't attend the dinner. Thanks for inviting Anudeep

In [207]:
print(guest)

['pranaya', 'mom', 'dad']

In [209]:
#organizing a list

In [210]:
#Sorting a list permanently with the sort() method

In [211]:
cars = ["bmw","audi","toyota","subaru"]

In [212]:
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [213]:
cars.sort()

In [216]:
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [217]:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [218]:
cars.sort(reverse = True)

In [219]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [220]:
#Sorting a list temporarily with the sorted() function

In [221]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [222]:
print("Here is the original list:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

In [223]:
print("\nhere is the sorted list:")
print(sorted(cars))

here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [224]:
print("\nHere is the original list:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

In [225]:
#Print a list in Reverse order.

In [226]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [227]:
cars.reverse()

In [228]:
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [230]:
cars.reverse()

In [231]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [232]:
#Finding length of the list

In [233]:
len(cars)

4

In [234]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [240]:
[value**2 for  value in num]

[1, 9, 25]

In [241]:
type([value**2 for  value in num])

list

In [239]:
num = [1, 3, 5]

In [242]:
places = ["newyork","miami","dallas"]

In [243]:
print(places)

['newyork', 'miami', 'dallas']

In [245]:
print(sorted(places))

['dallas', 'miami', 'newyork']

In [246]:
print(places)

['newyork', 'miami', 'dallas']

In [248]:
print(places.sort())

None

In [249]:
places

['dallas', 'miami', 'newyork']

In [250]:
places.sort(reverse=True)

In [251]:
places

['newyork', 'miami', 'dallas']

In [252]:
places

['newyork', 'miami', 'dallas']

In [253]:
places.reverse()

In [254]:
places

['dallas', 'miami', 'newyork']

In [256]:
len(places)

3

In [258]:
friends = ["Pranaya","deepak","uday","vishwas"]

In [259]:
for friend in friends:
    print(friend)

Pranaya
deepak
uday
vishwas

In [264]:
for friend in friends:
    print(f"{friend.title()}, that was great friendship!")
    print(f"I want to me all of you very soon, {friend.title()}. \n")
print(f"Thank you every one for coming!")

Pranaya, that was great friendship!
I want to me all of you very soon, Pranaya.

Deepak, that was great friendship!
I want to me all of you very soon, Deepak.

Uday, that was great friendship!
I want to me all of you very soon, Uday.

Vishwas, that was great friendship!
I want to me all of you very soon, Vishwas.

Thank you every one for coming!

In [265]:
#Making Numerical list

In [266]:
#using range() function

In [267]:
for value in range(1,5):
    print(value)

1
2
3
4

In [268]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [269]:
num = list(range(1,6))

In [270]:
num

[1, 2, 3, 4, 5]

In [271]:
even_numbers = list(range(2,11,2))

In [272]:
even_numbers

[2, 4, 6, 8, 10]

In [280]:
squares = []
for square in range(1,11):
    square = square ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [281]:
#Simple statistics with a list of numbers

In [284]:
digit = list(range(1,100,5))

In [285]:
min(digit)

1

In [286]:
max(digit)

96

In [287]:
print(digit)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [294]:
for i in digit:
    s = [i - 1]
print(s)

[95]

In [291]:
s

95

In [295]:
sum(digit)

970

In [297]:
squares = [value**2 for value in digit]

In [300]:
print(squares)

[1, 36, 121, 256, 441, 676, 961, 1296, 1681, 2116, 2601, 3136, 3721, 4356, 5041, 5776, 6561, 7396, 8281, 9216]

In [302]:
friends

['Pranaya', 'deepak', 'uday', 'vishwas']

In [315]:
print(friends[-1:0])

[]

In [1]:
pwd

'/Users/saichandrareddy'